@model ClientApi.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playground)
        </dt>
        <dd class = "col-sm-10">
            <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Playground.Name
        </dd>
        <dt class = "col-sm-2">
            Destination
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Playground.Destination
        </dd>
        <dt class = "col-sm-2">
            CordinatesX
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Playground.CordinatesX
        </dd>
        <dt class = "col-sm-2">
            CordinatesY
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Playground.CordinatesY
        </dd>
        <dt class = "col-sm-2">
            Capacity
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Playground.Capacity
        </dd>
    </dl>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
